@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

body {
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
  @apply bg-white dark:bg-black text-gray-900 dark:text-gray-100;
}

.slider {
  appearance: none;
  -webkit-appearance: none;
  height: 100%;
  background: transparent;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  width: 30px;
  min-height: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../src/assets/slide_icon.svg");
}
